#Copy me to /lib/systemd/system/
#And systemctl daemon-reload "systemctl daemon-reload"
[Unit]
Description=mtszmq service
After=network.target

[Service]
Type=simple
WorkingDirectory=/root/zmq-one-rpc-xml/
ExecStart=/root/zmq-one-rpc-xml/mtszmq.py
StandardInput=tty-force
#User=oneadmin

[Install]
WantedBy=multi-user.target
