#Copy me to /lib/systemd/system/
#And systemctl daemon-reload "systemctl daemon-reload"
[Unit]
Description=mtszmq service
After=multi-user.target
Conflicts=getty@tty1.service

[Service]
Type=simple
ExecStart=/var/lib/one/mtszmq/mtszmq.py
User=oneadmin
Group=oneadmin

[Install]
WantedBy=multi-user.target
